@media screen and (min-width: 992px) {
    .spike-two-bottom {
        height: 650px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        background-image: url("~@/assets/images/waves/spike_two_bottom.svg");



    }
}

@media screen and (max-width: 992px) {
    .spike-two-bottom {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        width: 100%;
    }
}


@media screen and (min-width: 992px) {
    .spike-two-top {
        height: 650px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        width: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-image: url("~@/assets/images/waves/spike_two_top.svg");
    }
}

@media screen and (max-width: 992px) {
    .spike-two-top {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        width: 100%;
    }
}



@media screen and (min-width: 992px) {
    .spike-three-top {
        height: 650px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        width: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-image: url("~@/assets/images/waves/spike_three_top.svg");
    }
}

@media screen and (max-width: 992px) {
    .spike-three-top {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        width: 100%;
    }
}





@media screen and (min-width: 992px) {
    .bg-triangle {
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("~@/assets/images/waves/triangle_background.svg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;

    }
}

@media screen and (max-width: 992px) {
    .bg-triangle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("~@/assets/images/waves/triangle_background.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


    }
}

@media screen and (min-width: 992px) {
    .bg-triangle-2 {

        background-image: url("~@/assets/images/waves/triangle_background.svg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;

    }
}

@media screen and (max-width: 992px) {
    .bg-triangle-2 {

        background-image: url("~@/assets/images/waves/triangle_background.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


    }
}
